/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

.logbody {
	background-color: #FFFEF8;
}

.logbody header {
	margin-left: 20px;
	margin-right: 20px;
}

a {
	color: black;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 80px 0
	
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {

	padding: 0 10px;
	font-size: 1.2em;
}

nav li img {
	height: 22px;

}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

button {
	cursor: pointer;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	margin: 5px;
	margin-bottom: 3em;
	padding-left: 5px;
	padding-right: 5px;
	height: 37px;
	min-width: 100px;
	border-width: 1px;
	border-color: #1D6154;
	text-align: center;
	border-radius: 60px;
}

button:focus {
	background-color: #1D6154;
	color: white;
	border-width: 0;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login h2 {
	margin-bottom: 2rem;
	margin-top: 3rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.form label {
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	height: 36px;
	border:unset;
}

#email {
	margin-top: 10px;
	border: none;
	height: 51px;
	width: 379px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#password {
	margin-top: 10px;
	border: none;
	height: 51px;
	width: 379px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin-top: 2em;
}

.containerModal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

h3 {
	font-size: 30px;
	display: flex;
	justify-content: center;
	padding-top: 50px;

}

figure {
	padding-bottom: 40px;
}

.modal-body {
	height: 688px;
	width: 630px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	border-radius: 5px;
	position: relative;
}

.modal-body button {
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	border: unset;
}

.modal-body img {
	height: 108px;

}

.ModalListGallery {
	margin: auto;
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 80px;
	padding-right: 120px;
	padding-left: 90px;


}

.ModalListGallery img {
	object-fit: cover;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 82px;
}

.ModalListGallery span {
	justify-content: center;
	align-items: center;
	font-size: 10px;
	color: #FFFEF8;
	width: 17px;
	height: 17px;
	background-color: black;
	display: flex;
	position: relative;
	left: 60px;
	top: 5px;
	cursor: pointer;
}

.add-photo-container {
	display: none;
	flex-direction: column;
}

.AddPhotoModal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

.Addphoto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	padding: 20px;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 30px;
}

.Addphoto p {
	color: #444444;
	font-size: 10px;
}

.Addphoto button {
	background-color: #CBD6DC;
	border: none;
	color: #306685;
	font-size: small;
}

#valider {
	padding-left: 65px;
	background-color: #A7A7A7;
	text-align: center;
	justify-content: center;
}

.fa-image {
	font-size: 76px;
	color: #B9C5CC;
}

.fa-xmark {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 20px;
	padding-top: 20px;
	cursor: pointer;
}

#back-arrow {
	position: absolute;
	font-size: 21px;
	padding-left: 20px;
	padding-top: 15px;
	top: 0px;
	cursor: pointer;
	display: none;
}

.modifier {
	display: none;
	padding-left: 20px;
	color: black;
	font-size: 15px;
	cursor: pointer;
}

#portfolio h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 70px;
}

#add-photo-hr {
	height: 1px;
	color: #B3B3B3;
	width: 70%;
	border-left: none;
}

#modal-hr {
	height: 1px;
	color: #B3B3B3;
	width: 70%;
	border-left: none;
}

.js-title {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}


.js-categoryId {
	margin-top: 15px;
	height: 51px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;

}

.form-id {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 420px;
	padding-top: 20px;
	margin-bottom: 40px;

}

.form-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 420px;
	padding-top: 20px;
}


input[type="file"] {
	background-color: #CBD6DC;
	border: none;
	color: #306685;
	font-size: small;
	display: none;
}
#pic {
	position: absolute;
	top: 155px;
	height: 176px;
	
	
}

.Addphoto label {
	font-family: 'Work Sans';
	font-weight: 500;
	color: #306685;
	font-size: 14px;
	line-height: 16px;
	background-color: #CBD6DC;
	/* margin: 2em auto; */
	margin-top: 10px;
	margin-bottom: 5px;
	width: 180px;
	text-align: center;
	border-radius: 50px;
	cursor: pointer;
	height: 36px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit{
	display: flex;
	position:absolute;
	display: none;
	align-items: center;
	color: white;
	justify-content: center;
	background-color: black;
	height: 59px;
	width: 100%;
	top: 0;
	left: 0;
}


/*header{
	display: flex;
	flex-direction: column;
}

.archipres{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}